body{
    background: linear-gradient(to right, lightblue, lightgreen, lightpink, lightyellow);
    background-position-x: no-repeat;
    background-position-y: no-repeat;
}

.header{
    display: flex;
    justify-content:center;
    gap: 10px;
}

.container{
    text-align: center;
    margin-top: 10%;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    background-color: white;
    width: 500px;
    height: 500px;
    margin-left: 33%;
    border-radius: 20px;
    box-shadow: 5px 5px 15px 5px #ccc;
}

#ekle-buton{
    background-color: green;
    text-align: center;
    color: white;
    border: 1px solid lightgray;
    border-radius: 10px;
    width: 50px;
    height: 50px;
    padding-top: 2px;
}

#todo-input{
    border-radius: 10px;
    height: 25px;
    padding: 10px;
    width: 350px;
    border-color: palevioletred;
}

img{
    width: 80px;
    height: 80px;
}

.h2{
    color: palevioletred;
} 

li{
  display: flex;
  justify-content: space-between; 
  align-items: center; 
  position: relative; 
  margin-bottom: 10px; 
  padding-right: 40px;
  cursor: pointer;
}

.button-container{
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

ul li button{
    border-radius: 10px;
    padding: 6px;
    width: 35px;
    height: 35px;
    letter-spacing: 20%; 
}

.checked {
    text-decoration: line-through;
    color: gray;
    
}

.todolar{
    margin-top: 50%;
    letter-spacing: 50%;
}

#edit{
    background-color: lightgreen;
    border: green;
}

#delete{
    background-color: red;
    border: grey;
    color: white;
}

.list-container {
    display: flex;   
    justify-content: flex-end;  
    position: absolute; 
    align-items: end; 
    gap: 10px;  
    right: 10px;  
    bottom: 10px;
    padding-top: 2px;
}
 




